@import 'vars';
@import 'fonts';
@import 'global';

//header start

.header{
    position: relative;
    margin-bottom: 132px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 39px;
    }
    &__menu{
        li+li{
            padding-left: 60px;
        }
        li:last-child{
            background-color: $yellow;
            padding: 13px 28px;
            margin-left: 33px;
            border-radius: 20px;
        }
        a{
            color: $blue;
        }
    }
    &__main{
        display: flex;
        margin-top: 38px;
        &-info{
            min-width: 370px;
            margin-top: 75px;
            .main-info__title{
                color: $blue;
                font-size: 38px;
                padding-bottom: 37px;
                width: 350px;
                border-bottom: 3px solid $yellow;
            }
            .main-info__text{
                font-size: 20px;
                @include f400;
                color: #6e7178;
                padding-top: 35px;
                padding-left: 33px; 
                li{ 
                    width: 240px;
                    padding-bottom: 15px;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        left: -32px;
                        top: 8px;
                        width: 8px;
                        height: 8px;
                        background-color: $yellow;
                        border-radius: 50%;
                        
                    }
                }
            }
        }
    }
    &:before{
        position: absolute;
        content: '';
        width: 102%;
        min-height: 155%;
        background-color: $grey;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        right: 0;
        bottom: -607px;
        z-index: 0;
    }
}

//header end
// about start
.about{
   
    position: relative;
    &__inner{
        display: flex;
        justify-content: space-between;
        
    }
    &__btn{
        min-width: 500px;
        z-index: 1;
        &-title{
            color: #fff;
            font-size: 48px;
        }
        a{  
            display: inline-block;
            text-transform: uppercase;
            margin-top: 90px;
            padding: 20px 60px 19px 43px;
            background-color: $yellow;
            border-radius: 30px;
            font-size: 16px;
            color: $blue;
            cursor: pointer;
        }
    }
    &__text{
        color: $blue;
        font-size: 18px;
        line-height: 28px;
        @include f400;
        span{
            display: block;
            margin-top: 40px;
        }
    }
    &:before{
        position: absolute;
        content: '';
        min-height: 205%; 
        width: 39%; 
        max-width: 100%;
        max-height: 100%;
        top: -396px;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: $blue; 
        z-index: 0;
    }
        &:after{
            position: absolute;
            content: '';
            min-height: 204%; 
            width: 39%;
            bottom: -245px; 
            max-height: 100%;
            max-width: 100%;
            transform: scale(1, -1);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
            background-color: $blue;
            z-index: 0;
   }
    
}

// about end
// start team

.team{
    background-color: $grey;
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            z-index: 1;
            margin-top: 105px;
            padding-bottom: 17px;
            font-size: 48px;
            color: $blue;
            width: 177px;
            text-align: center;
            border-bottom: 3px solid $yellow;

        }
    }
}

// end team









@import 'media';