@import 'vars';
@import 'fonts';
@import 'global';

//header start

.header{
    position: relative;
    overflow: hidden;
    &__logo{
        z-index: 2;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 39px;
    }
    &__burger{
        display: none;
    }
    &__menu{
        position: relative;
        z-index: 3;
        .header__language{
            display: flex;
            position: absolute;
            bottom: 55px;
            right: 25px;
            font-size: 14px;
            @include f500;
            cursor: pointer;
            z-index: 2;
            text-transform: uppercase;
            &-eng{
                margin-right: 8px;
                
                &:hover{
                    color: #00adff;
                }
            }
            &-ru{
                border-left: 2px solid $blue;
                padding-left: 8px;
               
                &:hover{
                    color: #00adff;
                }
            }
        }
        li+li{
            padding-left: 60px;
        }
        li:last-child{
            background-color: $yellow;
            padding: 13px 28px;
            margin-left: 33px;
            border-radius: 20px;
        }
        a{
            color: $blue;
        }
    }
    &__main{
        display: flex;
        margin-top: 38px;
        margin-bottom: 135px;
        align-items: center;
        max-width: 100%;
        &-info{
            min-width: 370px;
            margin-top: 75px;
            z-index: 1;
            h1{
                color: $blue;
                font-size: 38px;
                text-transform: uppercase;
                padding-bottom: 37px;
                width: 350px;
                border-bottom: 3px solid $yellow;
            }
            .main-info__text{
                font-size: 20px;
                @include f400;
                color: #6e7178;
                padding-top: 35px;
                padding-left: 33px; 
                li{ 
                    text-transform: uppercase;
                    display: block;
                    width: 240px;
                    padding-bottom: 25px;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        left: -32px;
                        top: 8px;
                        width: 8px;
                        height: 8px;
                        background-color: $yellow;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}


.header__menu li.header__menu-blue {
    background-color: #00acff;
    a{
        color: #fff;
    }
}
.header__language-adaptiv{
    display: none;
}
.header__menu a:focus{
    color: #00adff;
}
//header end
// about start
.about{
    position: relative;
    &__inner{
        display: flex;
        justify-content: space-between;       
    }
    &__btn{
        min-width: 500px;
        z-index: 2;
        position: relative;
        &-title{
            color: #fff;
            font-size: 48px;
        } 
    }
    &__text{
        color: $blue;
        font-size: 18px;
        line-height: 28px;
        @include f400;
        z-index: 2;
        &:before{
            position: absolute;
            content: '';
            width: 78%;
            height: 880px;
            background-color: #eff1f5;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            right: 0;
            bottom: -29px;
            z-index: -1;
        }  
        p{
            display: block;
            margin: 40px 0 0;
        }
    }
    &:before{
        position: absolute;
        content: '';
        min-height: 205%; 
        width: 39%; 
        max-width: 100%;
        max-height: 100%;
        top: -376px;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: $blue; 
        z-index: 0;
    }
        &:after{
            position: absolute;
            content: '';
            min-height: 204%; 
            width: 39%;
            bottom: -264px; 
            max-height: 100%;
            max-width: 100%;
            transform: scale(1, -1);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
            background-color: $blue;
            z-index: 0;
   }
}
.box-triangle-left.yellow-contacts{
   top: -60px;
   border-color: transparent transparent transparent $yellow;
}
.btn-title{  
    display: inline-block;
    text-transform: uppercase;
    margin-top: 90px;
    padding: 20px 60px 19px 43px;
    background-color: $yellow;
    color: $blue;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    &:before{
        position: absolute;
        content: '\f054';
        font-family: 'icomoon';
        right: 29px;
    }
}

// about end
// start team

.team{
    background-color: $grey;
    padding-bottom: 120px;
  
    &__inner{
        display: flex;
        justify-content: center;
        &-title{
            z-index: 1;
            margin-top: 105px;
            padding-bottom: 17px;
            font-size: 48px;
            color: $blue;
            width: 177px;
            text-align: center;
            border-bottom: 3px solid $yellow;
        }
        &-slider{
            margin-top: 42px;
            position: relative;
            z-index: 2;
            &:before{
                position: absolute;
                content: '';
                background-color: #fff;
                height: 4px;
                width: 105%;
                bottom: 0;
                left: -31px;
            }   
            &-box{
               text-align: center;
               z-index: 1;
                .team__images{
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 345px;
                    width: 260px;
                }
            }
        }
    }
}
.team__inner-slider .slick-next:before {
    position: absolute;
    content: '\f054';
    font-family: 'icomoon';
    height:  60px;
    width: 60px;
    top: 70px;
    right: 0;
    padding: 19px 0 0 4px;
    border-radius: 50%;
    background-color: $yellow; 
    color: #003d86;
}
.team__inner-slider  .slick-prev:before {
    position: absolute;
    content: '\f053';
    font-family: 'icomoon';
    height:  60px;
    width: 60px;
    top: 70px;
    left: -10px;
    padding: 19px;
    border-radius: 50%;
    background-color: $yellow; 
    color: #003d86;
    z-index: 100;
}
.slick-dots li button:before {
    display: none;
}
.slick-dotted.slick-slider{
    position: relative;
}
.slick-prev{
    z-index: 2;
}
.team__inner-slider .slick-dots{
    list-style:none;
    display: flex;
    justify-content: center;
    bottom: -56px;
}
.team__inner-slider .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d6e0e0;
}
.team__inner-slider .slick-dots li.slick-active button{
    background-color: $yellow;
    border: 1px solid $yellow;
}

// end team

// start partners

.pathners{
    background-color: $grey;
    &__inner{
        text-align: center;
        &-img{
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-basis: 50%;
        }
        &-title{
            margin: 0 auto;
            width: 240px;
            font-size: 48px;
            padding-bottom: 5px;
            border-bottom: 3px solid $yellow;
        }
        &-text{
            margin-top: 30px;
            @include f400;
            font-size: 24px;
            color: #6e7178;
        }
    }
    &__emblem{
        background-color: #fff;
        height: 315px;
        width: 315px;
        border-radius: 10px;
        background-repeat: no-repeat;
        padding-top: 130px;
    }
}
// end  partners
// start news
.news{
    background-color: $grey;
    padding-bottom: 110px;
    position: relative;
    overflow: hidden;
    &__inner{
        padding-top: 108px;
        z-index: 1;
        .news__btn{
            display: flex;
            align-items: center;
            &-title{
                font-size: 44px;
                padding-right: 225px;
            }
            &-button a{
                padding-left: 40px;
                font-size: 18px;
                text-transform: uppercase;
                color: $blue;
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: -20px;
                    width: 3px;
                    height: 57px;
                    background-color: $yellow;
                }
                &:after{
                    position: absolute;
                    content: '\f054';
                    font-family: 'icomoon';
                    height:  60px;
                    width: 60px;
                    top: -20px;
                    right: -90px;
                    padding: 19px 0 0px 24px;
                    border-radius: 50%;
                    background-color: $yellow; 
                    color: #003d86;
                }
            }
        }
        
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 52px;
        
        .news__item{
            width: 570px;
            background-color: #fff;
            border: 2px solid #e7e8ea;
            border-bottom: none;
            z-index: 1;
            &-date{
                padding: 22px 0 18px 36px;
                font-size: 18px;
                color: #00adff;
            }
            &-subtitle{
                padding: 0 60px 26px 36px;
                font-size: 27px;
                color: #6e7178;
            }
            &-img{
                height: 324px;
                background-repeat: no-repeat;
                background-size:  cover;
                border-bottom: 6px solid $blue;
                position: relative;
                
                a.btn-news{
                    position: absolute;
                    margin-left: 35px;
                    bottom: 35px;
                }
                &.object-one{
                    background-image: url(../images/news/object1.jpg);
                    
                }
                &.object-two{
                    background-image: url(../images/news/object2.jpg);
                }
            }
        }
    }   
}
.box-left{
    position: absolute;
    transform: translate(0px, 1px) skew(1deg, 33deg);
    width: 32%;
    height: 100%;
    top: -90px;
    background-color: #fff;
    z-index: 0;
} 
.box-right{
    position: absolute;
    transform: translate(0px, -160px) skew(0deg, -27deg);
    width: 100%;
    height: 170%;
    top: -100px;
    background-color: #fff;
    z-index: 0;
} 
.box-right.aboutpage{
    transform: translate(0px, -176px) skew(0deg, -28deg);
    width: 100%;
    height: 151%;
    top: -25px;
}
.box-left.aboutpage{
    transform: translate(0px, 27px) skew(1deg, 27deg);
    width: 47%;
    height: 100%;
    top: -90px;
}
.box-triangle-left{
    position: absolute;
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-width: 350px 0 350px 700px;
    border-color: transparent transparent transparent $blue;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 $blue;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.box-triangle-top{
    position: absolute;
    z-index: 0;
    left: -190px;
    width: 0;
    height: 0;
    left: 0;
    border-style: solid;
    border-width: 355px 700px 0 690px;
    
    border-color: #fff transparent transparent transparent;
    line-height: 0px;
    _border-color: #007bff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.box-triangle-right{
    background: linear-gradient(150deg, transparent calc(58.5% + 175px), $grey  calc(10% + 175px));

}

// .box-cub{
//     position: absolute;
//     bottom: -300px;
//     width: 2940px;
//     transform: rotate(155deg);
//     height: 860px;
//     background-color: $grey;
//     z-index: 0;
// }
//end news
// start feedback
.feedback{
    padding-top: 45px;
    padding-bottom: 68px;
    position: relative;
    &__text{
        display: flex;
        align-items: center;
        &-title{
            font-size: 44px;
            width: 400px;
            z-index: 1;
        }
        &-subtitle{
            padding-left: 35px;
            @include f400;
            font-size: 24px;
            color: #6e7178;
            position: relative; 
            z-index: 1; 
            &:before{
                position: absolute;
                content: '';
                left: 0;
                top: -2px;
                width: 3px;
                height: 57px;
                background-color: $yellow;
            }   
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        
        input{
            width: 370px;
            height: 60px;
            background-color: $grey;
            border: none;
            padding-left: 35px;
            padding-right: 15px;
            margin-bottom: 30px;
            border-radius: 26px;
            outline: none;
        }
        input + input{
            margin-left: 10px;
        }
    }
    textarea{
        border: none;
        outline: none;
        resize: none;
        padding: 26px 36px;
        height: 161px;
        width: 66%;
        background-color: $grey;
        border-radius: 28px;

        
    }
    form{
        position: relative;
        z-index: 1;
        button{
            position: absolute;
            text-transform: uppercase;
            border: none;
            outline: none;
            border-radius: 28px;
            background-color: $yellow;
            bottom: 0;
            right: 0;
            width: 300px;
            height: 60px;
            color: #003e87;
            font-family: 'Conv_MuseoSansCyrl_700', sans-serif;
            cursor: pointer;
            &:before{
                position: absolute;
                content: '\f054';
                font-family: 'icomoon';
                right: 25px;
            }
        }
    }
}
//end feedback
//start contacts
.contacts{
    &__inner{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         .contacts__box{
             padding-top: 80px;
             @include f400;
             color: #003e87;
             margin-right: 20%;
             font-size: 20px;
             max-width: 500px;
             z-index: 1;
             &-title{
                 @include f700;
                 font-size: 44px;
                 padding-bottom: 28px;
                 margin-bottom: 56px;
                 border-bottom: 3px solid $yellow;
             }
             &-list{
                padding-left: 54px;
                position: relative;
                &-adress{
                    margin-bottom: 30px;
                    &:after{
                        position: absolute;
                        content: url(../images/svg/marker.svg);
                        left: 0;
                        top: 5px;
                    }
                }
                &-phone{
                    margin-bottom: 40px;
                    &:after{
                        position: absolute;
                        content: url(../images/svg/phone.svg);
                        left: 0;
                    }
                }
                &-email{
                    margin-bottom: 45px;
                    &:after{
                        position: absolute;
                        content: url(../images/svg/email.svg);
                        left: 0;
                    }
                }
                &-icon{
                    display: flex;
                    .icon-facebook:before{
                        color: #00acff;
                        margin-right: 40px;
                    }
                    .icon-twitter{
                        color: #00acff;
                        margin-right: 40px;
                    }
                    .icon-instagram{
                        color: #00acff;
                    }
                }
             }
         }
    }
    &__map{
        background-image: url(../images/map.png);
        background-size: cover;
        width: 50%;
        height: 555px;
        z-index: 2;
    }
}
// end contacts
// start footer
.footer{
    background-color: $blue;
    padding-top: 63px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        margin-left: 206px;
        li + li{
            margin-left: 74px;
        }
    }
    &__language{
        display: flex;
        margin-left: 80px;
        color: #fff;
        cursor: pointer;
        &-ru{
            padding-right: 14px;
            border-right: 2px solid #99b1cf;
            &:hover{
                color: #00adff;
            }
        }
        &-eng{
            padding-left: 14px;
            &:hover{
                color: #00adff;
            }
        }
    }
    &__down{
        display: flex;
        padding-top: 85px;
        padding-bottom: 28px;
        color: #fff;
        font-size: 14px;
        @include f400;
        &-agency{
            margin: 0 auto;
        }
    }
}
.text-transform{
    text-transform: uppercase;
}
.footer.footer-down{
    padding-top: 0;
}

//end footer
////start aboutus
.aboutus{
    background-color: $grey;
    position: relative;
    &__inner{
        display: flex;
        padding-top: 85px;
    }  
    &__subtitle{
        padding-left: 125px;
        @include f300;
        font-size: 18px;
        line-height: 28px;
        z-index: 2;
        p{
            display: inline-block;
            margin: 18px 0 0;
        }
        p + p{
            margin: 30px 0 0;
        }
    }
    h1{
        padding-right: 145px;
        position: relative;
        font-size: 48px;
        width: 272px;
        &:before{
            position: absolute;
            content: ' ';
            width: 3px;
            right: 0;
            height: 65px;
            background-color: $yellow;
        }     
    }
}
h1{
    position: relative;
}
.team-page{
    padding-bottom: 180px;
}
.team__inner-title.team-title{
    margin-top: 75px;
}
//end aboutus
// start customers
.teams__head{
    position: relative;
    z-index: 2;
}

.customers{
    background-color: $grey;
    &__wrapper{
        padding-bottom: 115px;
        
    }
    &__inner{
        display: flex;
        border: 2px solid $grey;
        border-bottom:  none;
        margin-top: 55px;
        position: relative;
        z-index: 2;
    }
    &__box{
        text-align: center;
        min-width: 400px;
        background-color: #fff;
        padding-top: 50px;
        border-bottom: 4px solid #00acff;
    }
    &__info{
        @include f400;
        line-height: 28px;
        font-size: 18px;
        color: #6e7178;
        border-bottom: 4px solid $yellow;
        background-color: #fff;
        &-text{
            margin-right: 30px;
            p{
                margin: 25px 0;
            }
        }
        &-site{
            display: block;
            margin-top: 40px;
            padding-bottom: 40px;
            font-size: 18px;
            @include f700;
            color: #00adff;
        }
    }
}
.customers__block{
    display: block;
    padding-top: 30px;
}

// end customers
// start newspaper
.newspaper{
    background-color: $grey;
}
.newspaper__archive{
    display: flex;
    h1{
        padding-right: 145px;
        font-size: 48px;
        width: 272px;
    }
    &-info{
        display: flex;
        margin-top: 55px;
        margin-left: 100px;
        font-size: 25px;
        z-index: 2;
    }
    &-title,
    &-date2019{
        margin-right: 30px;
    }
    &-date2019,
    &-date2020{
        cursor: pointer;
        &:hover{
            color: #00adff;
        }
    }
}
.nespaper__inner{
    padding-bottom: 122px;
    .news__items .news__item{
        margin-bottom: 48px;
    }
}
//end newspaper
// start newspaper2
.newspapertwo{
    background-color: $grey;
}
.newspapertwo__box{
    margin-top: 60px;
    border: 2px solid #e6e6e6;
    position: relative;
    z-index: 2;
    .newspapertwo__info{
        padding: 45px 120px 30px 45px;
        background-color: #fff;
        &-date{
            font-size: 22px;
            color: #00adff;
            padding-bottom: 25px;
        }
        &-title{
            font-size: 37px;
            color: #6e7178;
        }
    }
    .newspapertwo__image .newspapertwo-object{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 525px;
        height: auto;
    }
    .newspapertwo__text{
        padding: 40px 15px 90px 45px;
        
        @include f400;
        color: #6e7178;
        line-height: 24px;
        span{
            display: inline-block;
        }
        .newspapertwo__paragraph{
            padding-top: 25px;
        }
    }
    .newspapertwo__btn{
        display: flex;
        padding-left: 45px;
        padding-bottom: 60px;
        position: relative;
        &-text{
            text-transform: uppercase;
            margin-right: 25px;
            color: #57595b;
        }
        .icon-instagram,
        .icon-facebook:before{
            font-size: 20px;
            margin-right: 25px;
            color: #56585b;

        }
        &-back{
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            right: 0;
            height: 60px;
            width: 155px;
            padding-top: 20px;
            margin-top: -25px;
            margin-right: 60px;
            border-radius: 28px;
            background-color: $yellow;
            cursor: pointer;
            &:before{
                position: absolute;
                content: '\f053';
                font-family: 'icomoon';
                left: 30px;  
            }
        } 
    }
}

.header__box-on a.active{
    color: #00adff;
}
.newspapertwo__inner .news__items{
    padding-bottom: 115px;
}
//end newspaper2
// start partner
.partner{
    background-color: $grey;
}
.partner__title{
    margin-top: 45px;
    margin-bottom: 35px;
    font-size: 27px;
    @include f400;
    color: #003e87;
}
.partner__box img{
    padding-top: 50px;
}

.partner__wrapper{
    padding-bottom: 225px;
}
//end partner
//start team
.teams{
    background-color: $grey;
}
.teams__head{
    display: flex;
    h1{
        padding-right: 145px;
        font-size: 48px;
        width: 272px;
        &:before{
            position: absolute;
            content: ' ';
            width: 3px;
            right: 0;
            height: 65px;
            background-color: $yellow;
        }     
    }
    .teams__title{
        margin-top: 35px;
        margin-left: 30px;
        font-size: 24px;
        @include f400;
        color: #6e7178;
    }
}
.teams__main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 85px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
    position: relative;
    .teams-box + .teams-box{
        margin-right: 5px;
    }
    .teams__box-img img{
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .teams__box-img{
        position: relative;
        &:before{
            position: absolute;
            content: '';
            height: 3px;
            width: 370px;
            bottom: 2px;
            right: -60px;
            background-color: $yellow;
        }
    }
    .teams__box-name{
        margin-top: 25px;
        font-size: 18px;
        line-height: 25px;
    }
    .teams__box-profession{
        @include f400;
        font-size: 18px;
        color: #6e7178;
    }
}
.teams__inner{
    margin-top: 75px;
    margin-right: 70px;
    &-people{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        z-index: 2;
        &-intend{
            margin-top: 90px;
            padding-bottom: 190px;
        }
    }
    .person-two{
        position: relative;
        z-index: 1;
    }
    .person-four{
        position: absolute;
        left: 210px;
        top: 21px;    
    }
    .person-five{
        margin-left: 260px;
    }
    .person-eight{
        position: relative;
        margin-right: 230px;
        z-index: 2;
    }
    .person-nine{
        position: absolute;
        bottom: 190px;
        left: 210px;
        z-index: 1;
    }
}
// end team
@import 'media';
@media (max-width: 1822px){
    .box-triangle-left.newspaper-left{
        display: none;
    }
    .box-triangle-left.newspapertwo-left{
        display: none;
    }
    .box-triangle-left.abouts{
        border-width: 250px 0 250px 500px;
        bottom: -50px;
        border-color: transparent transparent transparent #003e87;
    }
    .box-triangle-top{
        left: -188px;
        top: 0px;
        height: 10px;
        border-width: 380px 700px 0 645px;
    }
    .header__main-img img{
        max-width: 100%;
    }
    .about__text:before{
        width: 82%;
        height: 880px;
        right: 0;
        bottom: -79px;
    }
    .about:after {
        min-height: 204%;
        width: 39%;
        bottom: -275px;
        max-width: 100%;
    }
    .about:before {
        min-height: 205%;
        width: 39%;
        max-width: 100%;
        top: -366px;
    }
}
@media (max-width: 1700px){
    .contacts__map {
        width: 40%;
        height: 430px;
    }
    .contacts__inner .contacts__box {
        padding-top: 0;  
    } 
}
@media (max-width: 1493px){
    .box-left.aboutpage{
        transform: translate(0px, 25px) skew(1deg, 20deg);
        width: 47%;
        height: 100%;
        top: -30px;
    }
    .box-right.aboutpage {
        transform: translate(0px, -176px) skew(0deg, -20deg);
        width: 100%;
        height: 131%;
        top: 30px;
    }
    .box-triangle-left.yellow-contacts{
        border-width: 220px 0 230px 450px;
        top: 70px;
    }
    .about:after {
        min-height: 134%;
        width: 27%;
        bottom: -225px;
        max-width: 100%;
    }
    .about:before {
        min-height: 135%;
        width: 27%;
        max-width: 100%;
        top: -125px;
    }
    .about__text:before{
        display: none;
    }
    .about{
        background-color: $grey;
    }
    .abouts.box-triangle-left{
        border-width: 150px 0 150px 290px;
        bottom: 50px;
        border-color: transparent transparent transparent #003e87;
    }
    .box-triangle-top{
        left: -698px;
        top: 0px;
        height: 10px;
        border-width: 380px 700px 0 945px;
    }
}
@media (max-width: 1261px){
    .header__main-info h1{
        font-size: 30px;
    }
    .nespaper__inner .news__items .news__item{
        width: 100%;
    }
    .contacts__map {
       margin: 0 auto;
       width: 80%;
    }
    .team__inner-slider .slick-next:before {
        height: 50px;
        width: 50px;
        top: 70px;
        right: 40px;
        padding: 15px 0 0 4px;
        
    }
    .team__inner-slider .slick-prev:before {
        height: 50px;
        width: 50px;
        top: 70px;
        left: 10px;
        padding: 15px;
    }
    .team__inner-slider:before {
        background-color: #fff;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: -15px;
    }
    .contacts__inner .contacts__box {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #003e87;
        margin: 0 auto;
        width: 100%;
        z-index: 1;
    }
}
@media (max-width: 1201px){
    .abouts .box-triangle-top{
        border-width: 440px 700px 0 945px;
    }
    .header__main{
        margin-bottom: 60px;
    }
    .news__items{
        flex-wrap: wrap;
        width: 100%;
        .news__item{
            flex-basis: 100%;
            margin-bottom: 20px;
            background-size: contain;
        }
    }
    .about__inner{
        flex-wrap: wrap;
    }
    .about__btn{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 70px;
    }
    .about__text{
        font-size: 16px;
        padding: 0 26px;
        p{
            margin-top: 15px;
        }
    }
    .btn-title {
        margin-top: 0;
        margin-right: 20px;
    }
    .about:after {
        min-height: 84%;
        width: 20%;
        bottom: -5px;
        max-width: 100%;
    }
    .about:before {
        min-height: 85%;
        width: 20%;
        max-width: 100%;
        top: -150px;
    }
    .about__btn-title{
        font-size: 32px;
        align-self: flex-end;
    }
    .teams__inner-people{
        justify-content: space-around;
    }
    .teams__main .teams__box-img:before {
        width: 270px;
        right: -10px;
    }
    .teams__main .teams-box+.teams-box{
        margin-right: 20px;
    }
    .teams__head{
        display: block;
    }
    .teams__head h1 {
        margin-top: 00px;
        margin-left: 30px;
        font-size: 22px;
        text-align: center;
    }
    .footer__menu {
        margin-left: 50px;
    }
    .footer__menu li+li {
        margin-left: 30px;
    }
    .footer__language{
        padding-right: 40px;
    }
    .contacts__box{
        .contacts__box-title{
            font-size: 30px;
        }
        .contacts__box-list{
            font-size: 19px;
        }
    }
}
@media (max-width: 1023px){
    .box-triangle-left.yellow-contacts{
        border-width: 220px 0 230px 500px;
        top: 140px;
    }
    .box-triangle-left{
        display: none;
    }
    .box-triangle-top{
        left: -1148px;
        top: 0px;
        height: 10px;
        border-width: 380px 700px 0 945px;
    }
    .news__inner .news__btn-title{
        font-size: 34px;
        padding-right: 150px;
    }
    .header__menu li + li {
        padding-left: 30px;
    }
    .about:after {
        display: none;
        
    }
    .about__btn-title{
        background-color: $blue;
        width: 200px;
        border-radius: 5px;
        text-align: center;
    }
    .about__btn{
        margin-bottom: 40px;
    }
    .team__inner-title{
        margin: 60px;
    }
    .about:before {
        display: none;
    }
}
@media (max-width: 993px){
    .pathners__emblem{
        margin-bottom: 30px;
    }
    .teams__main{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .newspaper__archive{
        flex-wrap: wrap;
    }
    .newspaper__archive-info{
        margin-top: 30px;
        font-size: 24px;
    }
    .aboutus__inner{
        flex-wrap: wrap;
        padding-top: 35px;
    }
    h1{
        font-size: 36px;
        width: 100%;
        padding: 0;
        &:before{
            display: none;
        }
    }
    .aboutus__subtitle{
        padding: 0;
        font-size: 17px;
        
    }
    .aboutus__subtitle  p + p{
        margin-top: 15px;
    }
    .feedback textarea{
        display: block;
        height: 150px;
        width: 100%;    
    }
    .feedback__contact {
        display: block; 
    }
    .feedback__contact input+input{
        margin-left: 0;
    }
    .feedback__contact input{
        width: 100%; 
    }
    .feedback form button {
        position: static;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        &:before{
            position: absolute;
            content: '\f054';
            font-family: 'icomoon';
            left: 260px;
        }
    }
    .header__menu li:last-child{
        margin-left: 0px;
    }
}
@media (max-width: 893px){
    .box-triangle-left.yellow-contacts{
        border-width: 220px 0 230px 500px;
        top: 180px;
    }
    .teams__head h1{
        margin-top: 5px;
        font-size: 32px;
    }
    .partner__title{
        text-align: center;
        margin: 0;
        padding: 15px;
    }
    .customers__inner{
        display: block;
    }
    .customers__info-text{
        padding-left: 20px;
        padding-top: 10px;
        
    }
    .customers__box{
        border-bottom: none;
    }
    h1:before {
        position: absolute;
        content: ' ';
        width: 3px;
        right: 60px;
        top: -5px;
        height: 45px;
        background-color: #ffd000;
    }
    .header__menu li+li{
        padding-left: 0;
    }
    body.lock{
        overflow: hidden;
    }
    .header__menu{
        overflow: auto;
    }
    .feedback__text{
        display: block;
        .feedback__text-title{
            width: 100%;
            font-size: 34px;
            margin-bottom: 25px;
            position: relative;
        }
        .feedback__text-subtitle{
            font-size: 20px;
        }
    }
    .footer__menu{
        display: none;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 26px;
        height: 22px;
        z-index: 11;
    }
    .header__burger span{
        position: absolute; 
        background-color: $blue;
        left: 0;
        width: 100%;
        height: 3px;
        top: 10px;
        transition: all 0.4s  ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: $blue;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.4s  ease 0s;
    }
    .header__burger:before{  
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: $grey;
        margin-top: 80px;
        padding-left: 30px;
        transition: all 0.4s  ease 0s;
        z-index: 10;
    }
    .header__inner{
        padding-top: 20px;
    }
    .header__menu li{
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu.active{
        top: 0;
        z-index: 10;
    }
    .header__menu li {
        border-bottom: 2px solid #fff;
                                         
    }
    .header__menu li:last-child{
        border-bottom: none;
    }
    .header__logo img{
        width: 85%;
    }
}
@media (max-width: 767px){
    .header__main{
        margin-bottom: 20px;
    }
    .news{
        padding-bottom: 30px;
    }
    .box-left.aboutpage{
        transform: translate(0px, 25px) skew(1deg, 30deg);
        width: 60%;
        height: 100%;
        top: -30px;
    }
    .box-right.aboutpage {
        transform: translate(0px, -176px) skew(0deg, -20deg);
        width: 100%;
        height: 131%;
        top: 30px;
    }
    .pathners__emblem{
        margin: 0 30px;
        height: 180px;
        padding-top: 60px;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .pathners__emblem{
        margin-bottom: 20px;
        width: 100%;
    }
    .pathners__inner-title{
        font-size: 40px;
    }
    .pathners__inner-text{
        font-size: 20px;
    }
    .newspapertwo__box .newspapertwo__info-title{
        font-size: 30px;
    }
    .header__main-info h1{
        font-size: 25px;
    }
    .header__main-info .main-info__text{
        font-size: 18px;
    }
    .header__main{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__main-info{
        margin-top: 10px;
    }
    .header__main-info h1{
        width: 100%;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    .header__main-info .main-info__text{
        max-width: 100%;
        padding-left: 100px;
        padding-top: 15px;
    }
    .header__main-info .main-info__text p{
        padding-bottom: 10px;
    }
    .teams__inner-people{
        display: none;
    }
    .teams__main .teams-box{
        margin-bottom: 30px;
    }
    .teams__main{
        align-items: center;
        padding-top: 40px;
    }
    .news__items .news__item-date{
        font-size: 16px;
    }
    .news__items .news__item-subtitle{
        font-size: 22px;
    }
    .paragraph+.paragraph{
        margin-top: 20px;
    }
    .contacts__inner .contacts__box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contacts__map{
        height: 350px;
    }
    .customers__wrapper{
        padding-bottom: 150px;
    }
    .news__items{
        margin-top: 35px;
    }
}
@media (max-width: 500px){
    .header__main-info .main-info__text li{
        padding-bottom: 20px;
    }
    .teams__head h1,
    .newspaper__archive h1,
    .newspaper__archive h1  {
        padding-top: 30px;
        font-size: 28px;
        margin: 0;
    }
    .news__inner .news__btn-button a:before{
        height: 35px;
        top: -10px;
    }
    .news__inner .news__btn-title{
        font-size: 24px;
        padding-right: 65px;
    }
    .news__inner .news__btn-button a{
        font-size: 13px;
    }
    .news__inner{
        padding-top: 60px;
    }
    .news__inner .news__btn-button a:after {
        height: 35px;
        width: 35px;
        top: -10px;
        right: -60px;
        padding: 12px 0 0px 14px;
    }
    .pathners__inner-title{
        font-size: 24px;
    }
    .pathners__inner-text{
        font-size: 14px;
        line-height: 17px;
    }
    .pathners__emblem{
        margin: 0 20px;
        height: 100px;
        padding-top: 20px;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .newspapertwo__box .newspapertwo__info-title{
        font-size: 16px;
    }
    .newspapertwo__box .newspapertwo__info-date{
        font-size: 11px;
        padding-bottom: 22px;
    }
    .newspapertwo__box .newspapertwo__info {
        padding: 18px 100px 18px 18px;
    }
    .newspapertwo__box .newspapertwo__text{
        font-size: 12px;
        padding: 20px 10px 45px 10px;
    }
    .newspapertwo__box .newspapertwo__btn-back{
        bottom: 30px;
        left: 0;
        margin-left: 35px;
    }
    .newspapertwo__box .newspapertwo__btn{
        padding-bottom: 120px;
    }
    .newspapertwo__box .newspapertwo__btn-text{
        margin-right: 40px;
    }
    .news__items .news__item-img{
        height: 270px;
        max-width: 100%;
    }
    .news__items .news__item-subtitle{
        font-size: 16px;
    }
    .news__items .news__item-date{
        font-size: 11px;
    }
    .about__btn{
      min-width: 300px;
    }
    a.btn-title {
        padding: 12px 49px 11px 33px;
        font-size: 12px;
    }
    .about__btn-title {
        width: 110px;
        font-size: 24px;
    }
    .header__main-info h1{
        font-size: 18px;
        width: 290px;
    }
    .header__main{
        margin-bottom: 0;
    }
    .header__main-info{
        margin-left: -20px;
    }
    .header__main-info .main-info__text{
        font-size: 12px;
        padding-left: 50px;
        padding-bottom: 15px;
    }
    .header__main-info{
        min-width: 300px;
    }
    .teams__main .teams__box-name{
        font-size: 16px;
        margin-top: 15px;
    }
    .teams__main .teams__box-profession{
        font-size: 16px;
    }
    .teams__head h1 {
        margin-top: 0px;
        margin-left: 10px;
        font-size: 20px;
        text-align: left;
        padding-right: 35px;
    }
    .news__item{
        flex-grow: 0.4;
    }
    .team__inner-title.team-title{
        margin-top: 50px;
        
    }
    .team{
        padding-bottom: 70px;
    }
    .team__inner-title {
        padding-bottom: 10px;
        font-size: 28px;
        width: 97px;
    }
    .team__inner-slider-box .team__images{
        background-size: cover;
        height: 250px;
        width: 190px;
    }
    h1{
        font-size: 28px;
        width: 100%;
        padding-left: 5px;
        padding-bottom: 15px;
        text-align: left;
        &:before{
            display: none;
        }
    }
    
    .aboutus__subtitle{
        padding-left: 5px;
        font-size: 14px;
    }
    .partner__title{
        padding: 0;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: left;
    }
    .customers__box{
        text-align: left;
        padding-top: 0;
        min-width: 300px;
        img{
            padding: 16px 0 20px 3px;
        }
    }
    .customers__info-text{
        font-size: 12px;
        line-height: 21px;
        
    }
    .teams__head h1{
        font-size: 28px;
    }
    h1:before {
        width: 0px;
        height: 0px;
    }
    .customers__box {
        min-width: 300px;
        text-align: left;
        padding: 21px 0 15px 20px;
        border-bottom: none;
    }
    .customers__info-text{
        padding-left: 20px;
        font-size: 16px;
        a{
            padding-bottom: 20px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                width: 150px;
                height: 4px;
                bottom: -4px;
                left: -20px;
                background-color: #00acff;
            }
        }
    }
    .feedback__text{
        .feedback__text-title{
            font-size: 26px;
        }
        .feedback__text-subtitle{
            font-size: 18px;
        }
    }
    .contacts__map{
        height: 250px;
    } 
    .footer__language{
        display: none;
    }
    .footer__top{
        .footer-logo img{
            margin-left: 100px;
        }
    }
    .footer__down{
        display: block;
        text-align: center;
    }
    .footer__down-inc{
        margin-bottom: 15px;
    }
    .footer.footer-down{
        border-top: 1px solid #2273C4;
        .footer__down{
            padding-top: 25px;
        }
    }
    .footer{
        padding: 30px 0;
    }
   .newspaper__archive h1,
   .teams__head h1{
        position: relative;
            &:after{
                position: absolute;
                content: ' ';
                width: 3px;
                left: 100px;
                height: 40px;
                bottom: 10px;
                background-color: #ffd000;
            }
       }
    .newspaper__archive-info{
        font-size: 16px;
        margin: 20px 0 0 5px;
    }
    .news__items{
        margin-top: 30px;
    }
    .news{
        background-color: #fff;
    }
    .pathners__inner-img{
        z-index: 3;
    }
    .box-right.aboutpage{
        transform: translate(0px, -85px) skew(0deg, -20deg);
        width: 100%;
        height: 131%;
        top: 30px;
    }
    .box-left.aboutpage {
        transform: translate(0px, 33px) skew(1deg, 30deg);
        width: 60%;
        height: 100%;
        top: -30px;
    }
    .news__btn-button,
    .news__btn-title{
        z-index: 2;
    }
    .pathners__emblem{
        z-index: 2;
    }
    .box-triangle-left.yellow-contacts{
        border-width: 150px 0 150px 300px;
        top: 250px;
    }
    .box-triangle-top{
        left: -1370px;
    }
}

@media (max-width: 399px){
    .header__main-info .main-info__text li{
        padding-bottom: 10px;
    }
    .box-triangle-left.yellow-contacts{
        display: none;
    }
    
    .news__items{
        margin-top: 20px;
    }
    .newspaper__archive-info{
        font-size: 14px;
    }
    .team__inner-slider .slick-next:before {
        height: 36px;
        width: 36px;
        top: 50px;
        right: 42px;
        padding: 10px 0 0 4px;
        font-size: 15px;
    }
    .team__inner-slider .slick-prev:before {
        height: 36px;
        width: 36px;
        top: 50px;
        left: 25px;
        font-size: 15px;
        padding: 11px;
    }
    .team__inner-slider:before {
        background-color: #fff;
        height: 4px;
        width: 95%;
        bottom: 0;
        left: 0px;
    }
    .team__inner-title {
        padding-bottom: 5px;
        font-size: 24px;
        width: 77px;
    }
    .team{
        padding-bottom: 50px;
    }
    .team__inner-title.team-title {
        margin-top: 50px;
    }
    .team__inner-slider-box .team__images{
        background-size: cover;
        height: 200px;
        width: 145px;
    }
    .customers__wrapper{
        padding-bottom: 100px;
    }
    .customers__info-text{
        a{
            &:after{
                width: 120px;
            }
        }
    }
    .feedback__text{
        .feedback__text-title{
            font-size: 24px;
        }
        .feedback__text-subtitle{
            font-size: 14px;
        }
    }
    .feedback textarea{
        height: 100px;
    }
    .feedback{
        padding-bottom: 0;
    }
    .feedback form button{
        width: 200px;
        &:before{
            left: 190px;
        }
    }
    .contacts__map{
        height: 250px;
        width: 100%;
        margin-top: 100px;
        border-top: 2px solid $yellow;
        background-image: url(../images/map.png);
        position: relative;
        &:before{
            content: url(../images/geoloc.png);
            position: absolute;
            bottom: 30%;
            right: 45%;
        }
    } 
    .contacts__inner{
        position: relative;
        .contacts__box-title{
            position: absolute;
            top: 60px;
            font-size: 24px;
            border-bottom: none;
        }
        .contacts__box{
            max-width: 310px;
            font-size: 17px;
        }
    }
    .header__language-eng,
    .header__language-ru{
        display: none;
    }
    .header__logo img{
        width: 65%;
    }
    .footer__top{
        .footer-logo img{
            margin-left: 70px;
        }
    }
    .header__inner{
       position: relative;
    }
    .header__language-adaptiv{
        left: 60%;
        display: flex;
        position: absolute;
        @include f500;
        z-index: 2;
        &-eng{
            margin-right: 8px;
            &:hover{
                color: #00adff;
            }
        }
        &-ru{
            border-left: 2px solid $blue;
            padding-left: 8px;
            &:hover{
                color: #00adff;
            }
        }
    }
}
@media (max-width: 375px){
    .team__inner-slider .slick-next:before {
        height: 36px;
        width: 36px;
        top: 0;
        right: 42px;
        padding: 10px 0 0 4px;
        font-size: 15px;
        
    }
    .team__inner-slider .slick-prev:before {
        top: 0;
        left: 25px;
    }
    .team__inner-slider:before {
        width: 90%;
    }
    .team__inner-slider-box .team__images{
        
        height: 200px;
        width: 145px;
    }
}
@media (max-width: 342px){
    .about:before {
        display: block;
        min-height: 22%;
        width: 42%;
        max-width: 100%;
        top: -90px;
    }
    .about:after {
        display: block;
        min-height: 22%;
        width: 42%;
        bottom: 320px;
        max-width: 100%;
    }
}
@media (max-width: 350px){
    .news__inner .news__btn-button a:after{
        margin-right: 10px;
    }
    .about__btn-title{
        background-color: transparent;
    }
    .about:before {
        display: block;
        min-height: 22%;
        width: 42%;
        max-width: 100%;
        top: -90px;
    }
    .about:after {
        display: block;
        min-height: 22%;
        width: 42%;
        bottom: 378px;
        max-width: 100%;
    }
    .team__inner-slider-box .team__images{
        height: 125px;
        width: 88px;
    }
    .aboutus__subtitle{
        font-size: 12px;
    }
    .header__language-adaptiv {
        left: 56%;
    }
    .header__logo img {
        width: 50%;
    }
    .customers__info-text{
        a{
            &:after{
                width: 100px;
            }
        }
    }
    .footer__top{
        .footer-logo img{
            margin-left: 40px;
        }
    }
}
